<div class="jumbotron">
  <h1>Key Metrics View</h1>
</div>

<div class='well well-lg'>
  {{open-issues model=model.openIssues}}
</div>

<div class='well well-lg'>
  {{open-issues-line model=model.line}}
</div>

<div class='well well-lg'>
  {{reported-issues-bar model=model.bar}}
</div>
